body {
  margin: 0;
  color: #efdab9;
  font-family: 'Quicksand', sans-serif;
  background-color: #343233;
  overflow-y: auto;
}

.noteLine {
  padding: 3px;
}

.note {
  padding: 3px;
  display: flex;
  border-bottom: 1px solid lightgrey;
  font-size: 14px;
  min-height: 19.2px;
  /* max-height: 400px; */
  font-family: 'Noto Sans', sans-serif;
  word-break: break-word;
}

.note[data-type="blank"] {
  border-bottom: 0 !important;
}

.note:hover {
  background-color: #f4decb;
  cursor: pointer;
}

.note[data-type="blank"]:hover {
  background-color: inherit;
  cursor: auto;
}

.note .time {
  color: white;
  min-width: 38px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
  margin-top: 1px;
}

.note:hover .time {
  color: #282828;
}

.tab-container .tab-handle img {
  height: 70px;
  object-fit: cover;
  width: 70px;
  border-radius: 5px;
  float: left;
  margin-right: 20px;
}

.tab-container .tab-handle .playVideo {
  position: absolute;
  margin-right: 0 !important;
  height: 30px !important;
  width: auto;
  object-fit: initial;
  left: 20px;
  top: 18px;
  z-index: 2;
}

.tab-container .tab-handle .note-header {
  padding-top: 10px;
  padding-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-container[data-type="link"] a {
  color: grey;
  text-decoration: none;
  border: 1px solid grey;
  padding: 3px 6px 3px 6px;
  margin-bottom: 6px;
}

.tab-container[data-type="link"] a:hover {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 3px 6px 3px 6px;
}

.note .contents {
  font-weight: inherit;
  font-style: inherit;
  text-decoration: inherit;
  font-size: inherit;
  color: inherit;
  position: relative;
  flex: auto;
}

.tab-container .tab-handle {
  padding-bottom: 10px;
  height: 100%;
}

.tab-container .contents .tab-more-info {
  display: none;
  top: 100%;
  left: -50px;
  position: absolute;
  box-shadow: 0 5px 5px darkgrey;
  z-index: 5;
  background-color: white;
  padding: 5px;
  background-color: white;
}

/* colors */
.blue {
  color: #78b0a0;
}

.brown {
  color: #343233;
}

.chocolate {
  color: #584b4f;
}

.yellow {
  color: #ffd152;
}

.orange {
  color: #ffa500;
}

.watermelon {
  color: #ff3835;
}

.bg-blue {
  background-color: #78b0a0;
}

.bg-brown {
  background-color: #343233;
}

.bg-chocolate {
  background-color: #584b4f;
}

.bg-yellow {
  background-color: #ffd152;
}

.bg-orange {
  background-color: #ffa500;
}

.bg-watermelon {
  background-color: #ff3835;
}

.bd-blue {
  border: 2px solid #78b0a0;
}

.bd-brown {
  border: 2px solid #343233;
}

.bd-chocolate {
  border: 2px solid #584b4f;
}

.bd-yellow {
  border: 2px solid #ffd152;
}

.bd-orange {
  border: 2px solid #ffa500;
}

.bd-watermelon {
  border: 2px solid #ff3835;
}

/* button styles */

button {
  height: 40px;
  width: 100px;
  color: #343233;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

button p {
  margin: 0 !important;
}

.primary-button {
  background-color: #78b0a0;
  border: 2px solid #78b0a0;
}

.secondary-button {
  background-color: #ffd152;
  border: 2px solid #ffd152;
}

.nooutline {
  background-color: inherit !important;
  border: 0 !important;
}

.short-button {
  height: 25px !important;
}

.outline {
  background-color: inherit !important;
}

.disable {
  background-color: inherit !important;
  border: 2px solid grey;
}

a {
  text-decoration: none;
  color: inherit;
}

/* colors */
.fill-skyblue {
  background-color: #cae8f2;
}

.fill-darkgrey {
  background-color: #a9a9a9;
}

.fill-lightgrey {
  background-color: #EFEFEF;
}

.fill-watermelon {
  background-color: #ff3835;
}

.primary-highlight {
  color: #78b0a0;
}

.hide {
  display: none;
}


/* MAIN */
header {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.8;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #584b4f;
  color: #efeae1;
  border-bottom: 2px solid #584b4f;
}

header h1 {
  line-height: 60px;
}

header a {
  display: flex;
}

.flex {
  flex: auto;
}

header nav {
  display: flex;
  flex: none;
  margin-left: auto;
}

.flex {
  flex: auto;
}

header nav button {
  background-color: #ffd152;
  border: 2px solid #ffd152;
  height: 40px;
  width: 100px;
  color: #343233;
  cursor: pointer;
  margin-left: 0;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
}

header nav form input {
  display: none;
  height: 30px;
  background-color: white;
  width: 150px;
  margin-top: 10px;
  padding: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #343233;
  font-size: 16px;
  border: 2px solid #efeae1;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat';
  margin: 0px;
}

#main {
  display: flex;
  flex-wrap: wrap-reverse;
}

#noteSection {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-flow: column;
  flex: auto;
  width: 30%;
  min-width: 310px;
  min-height: 585px;
  max-height: calc(100vh - 72px);
  background-position: center;
  color: black;
  padding: 5px;
  resize: horizontal;
  overflow: hidden;
}

#videoSection {
  display: flex;
  flex-direction: column;
  width: 65%;
  max-width: 1100px;
  height: auto;
  flex: auto;
  padding-bottom: 0px;
  resize: horizontal;
  overflow: hidden;
}

#video-description {
  background-color: #efeae1;
  opacity: 0.3;
  color: black;
  flex: auto;
  font-family: 'Noto Sans', sans-serif;
  padding: 10px;
}

#video-description:hover {
  opacity: 0.9;
}

#video-info {
  display: flex;
}

#video-info img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}

#video-title {
  padding: 15px 10px 10px 10px;
}


/* TEXT EDITOR */
#filename {
  padding: 0 5px 0 5px;
  white-space: nowrap;
  overflow: hidden;
}

.highlighted {
  background-color: #78b0a0;
}

#note-editor-header {
  background-color: #584b4f;
  margin: 5px 5px 0 5px;
  box-shadow: 1px 1px 1px black;
  min-height: 60px;
  color: #efeae1;
  text-align: center;
  padding: 8px 0 5px 0;
  font-weight: bold;
}

.toolbar {
  display: none;
  margin: 5px !important;
}

.toolbar .svgWrapper {
  margin-right: 5px;
  border: 1px solid #584b4f;
}

[data-pressed="false"] {
  background-cohelor: #584b4f;
}

[data-pressed="true"] {
  background-color: #423539;
}

.static:hover {
  background-color: inherit;
  cursor: auto;
}

.toolbar .svgWrapper:hover {
  cursor: pointer;
  background-color: #423539;
}

#whole-paper {
  margin: 0 5px 5px 5px;
  display: flex;
  flex: auto;
  flex-flow: column;
  box-shadow: 1px 1px 1px black;
  color: black;
  overflow-y: scroll;
  background-color: white;
}

#paper-text {
  padding: 5px 0 52px 0;
  background-color: white;
}

#blank-paper {
  background-color: white;
  flex: auto;
  min-height: 10px;
}

.addNote {
  width: calc(100% - 50px);
  background-color: #f8eee7;
  margin-left: 0px;
  border: 0px;
  resize: none;
  font-family: 'Noto Sans', sans-serif;
  height: auto;
  white-space: pre-wrap;
}

.addNote:focus {
  outline: none;
  font-size: 14px;
}

/* VIDEO  */

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 7px;
  padding-left: 13px;
  margin-bottom: 0px;
  height: 0px;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
